.searchBox {
  width: 70%;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: rgb(231, 231, 231); */
  margin: auto auto;
  margin-top: 5.5rem;
  position: relative; /* Add this line */
}

.searchBox > input[type="text"] {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.274);
  background-color: white;
  border: none;
  color: rgba(0, 0, 0, 0.637);
  padding:15px;
  width: calc(100% - 5rem); /* Modify width to accommodate the icon */
  outline: none;
  border-radius: 2vw;
  font: 300 1.1vmax;
  box-sizing: border-box;
  /* height: 100%; */
  margin: 1rem;
}

.searchBox > button {
  border-radius: 20px;
  margin: 1rem;
  background-color:gray;
  border: none;
  padding: 4px;
  font: 300 1.1vmax;
  cursor: pointer;
  color: white;
  transition: all 0.5s;
  position: absolute; /* Add this line */
  right: 7px; /* Add this line */
}

@media screen and (max-width: 600px) {
  .searchBox {
    width: 100%;
  }
  .searchBox > input[type="text"] {
    width: calc(100% - 5rem); /* Modify width to accommodate the icon */
    font: 300 4vw;
    margin: 1rem;
    /* height: 10%;s */
  }
}
